* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px;
}

.wrapper1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}

.pack {
    background-color: #d9ff01;
}

.pack1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    background-color: #fff;
}

.smallPack {
    background-color: #d11bf9;
}

.wrapper2 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
}

.box {
    background-color: #1fff01;
}
.one{
    background-image: url('img3.avif');
    background-size: cover;
}
.two{
    background-image: url('img5.avif');
    background-size: cover;
}
.three{
    background-image: url('photo-1688113174197-ce252f2e597f.avif');
    background-size: cover;
}
.four{
    background-image: url('img7.avif');
    background-size: cover;
}
.five{
    background-image: url('img4.avif');
    background-size: cover;
}
.six{
    background-image: url('img6.avif');
    background-size: cover;
}

.main{
    margin: 50px;
}