*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

body{

    max-width: 1440px;
    background-color: #f0f4f5;
    overflow: hidden;
    margin: auto;

}

nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

nav img{
    width: 150px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li{ 
    list-style: none;
    margin-right: 50px;
    font-weight: 600px;
}

nav ul li{
    font-weight: 700;
    color: #20bc7e;
  }

nav ul li:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: black;
}

main{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section{
    width: 50%;
}

.section-left{
    margin-left: 5%;
    position: relative;
}

.topAngle{
    width: 25px;
}

.section-left h1{
    font-size: 70px;
}

.section-left p{

    color: #7c7c7c;
    font-size: 18px;
    margin: 20px 0px 20px 0px;
}

.bottomAngle{

    height: 25px;
    position: absolute;
    right: 25px;
}

.stethoscope{

    position: absolute;
    width: 90%;
    top: -60px;
    right: -25%;
    z-index: -1;
}

.mouse{
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 30px;
}

button{
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 40px;
    background-color: #20bc7e;
    font-weight: 700;
    font-size: 25px;
    border: 1px solid transparent;
}

.greenBox, .yellowBox{
    position: absolute;
    right: 0;
}

.greenBox{
    width: 35%;
    bottom: 30px;
}

.yellowBox{
    width: 30%;
    bottom: 50px;
}

.doctor{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90%;
}

button:hover{
    background-color: white;
    color: #20BC7E;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}