body {
  height: 100%;
}

.mobile,
.tablet,
.laptop,
.larger {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 60px;
}

/* FRAME 1 */
@media screen and (min-width: 0px){
  body {
    background-color: crimson;
  }
  .mobile {
    display: block;
  }
  .tablet {
    display: none;
  }
  .laptop {
    display: none;
  }
  .larger {
    display: none;
  }
}

/* FRAME 2 */
@media screen and (min-width: 425px){
  body {
    background-color: aqua;
  }
  .mobile {
    display: none;
  }
  .tablet {
    display: block;
  }
  .laptop {
    display: none;
  }
  .larger {
    display: none;
  }
}

/* FRAME 3 */
@media screen and (min-width: 768px){
  body {
    background-color: darkgoldenrod;
  }
  .mobile {
    display: none;
  }
  .tablet {
    display: none;
  }
  .laptop {
    display: block;
  }
  .larger {
    display: none;
  }
}

/* FRAME 4 */
@media screen and (min-width: 1024px){
  body {
    background-color: forestgreen;
  }
  .mobile {
    display: none;
  }
  .tablet {
    display: none;
  }
  .laptop {
    display: none;
  }
  .larger {
    display: block;
  }
}

/* FRAME 5 */
@media screen and (min-width: 1440px) {
    body {
        background-color: aquamarine;
    }
    .mobile {
      display: none;
    }
    .tablet {
      display: none;
    }
    .laptop {
      display: none;
    }
    .larger {
      display: none;
    }
  }
  